*target*
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/src/clj/cloudy/harvest
/src/clj/clj-salt/resources/system_state.yaml
/src/clj/clj-salt/resources/yaml2json.pm
/src/clj/cloudy/config.edn.sample
/src/clj/cloudy/resources/system_state.yaml
/src/clj/vpn-tunnel/logs
/src/clj/fn-jenkins/.lein-failures
/src/clj/fn-jenkins/.lein-repl-history
/src/clj/cloudy/doc/cloudseed_tickets
