<!DOCTYPE HTML>
<html>
  <head>
    <title>Share Your Growing Knowledge</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
      <link rel="stylesheet" href="/css/skel-noscript.css" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/style-desktop.css" />
      <link href="/css/bootstrap.css" rel="stylesheet"/>
      <link href="/css/carousel.css" rel="stylesheet"/>
      <link href="/css/flipper.css" rel="stylesheet"/>
      <link href='http://fonts.googleapis.com/css?family=Nosifer|Syncopate|Combo|Irish+Grover|Simonetta|Monoton|Bowlby+One|Londrina+Shadow|Aclonica|Italiana|Roboto|Hammersmith+One|Faster+One' rel='stylesheet' type='text/css'>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
  </head>
  <body class="subpage">
    <div id="header-wrapper">
      <div id="banner">
	<div class="container">
	  <div class="row">
	    <div class="6u">
	      <!-- Banner Copy -->
	      <p>Making Gardening Easy</p>
	      <a href="#" class="button-big">Growing Automatically!</a>
	    </div>
	    <div class="6u">
	      <!-- Banner Image -->
	      <a href="#" class="bordered-feature-image"><img src="images/harvest_basket_banner.png" alt="" /></a>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <div id="content-wrapper">
      <div id="content">
	<div class="container">
	  <div class="row">
	    <div class="3u">
	      <!-- Left Sidebar -->
	      <section>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="flipper">
                    <div class="front">
                      <span class="name">Features</span>
                      <header>
                        <h2>Easy Garden Management Software</h2>
                      </header>
                      <p>
                        User Interface that allows Gardener to access from anywhere
                      </p>
                    </div>
                    <div class="back feature">
		      <ul class="check-list">
                        <li><a>Control</a></li>
                        <li><a>Automate</a></li>
                        <li><a>Monitor</a></li>
                        <li><a>Schedule</a></li>
                        <li><a>Respond</a></li>
                        <li><a>Co-op</a></li>
                        <li><a>Learn</a></li>
                        <li><a>Share</a></li>
                        <li><a>Report</a></li>
                        <li><a>Log</a></li>
		      </ul
                    </div>
                  </div>
                </div>
	      </section>
	    </div>
	    <div class="6u skel-cell-important">
	      <!-- Main Content -->
	      <section>
		<header>
		  <h2>Hardware</h2>
		  <h3>Digital Garden Computing system</h3>
		</header>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="flipper">
                    <div class="front">
                      <span class="name">Digital Automation</span>
                      <header>
                        <h2>Dr. Green Thumb</h2>
                      </header>
                      <p>
                        The brain of your garden that connects to the internet and runs the custom hardware.
                      </p>
                      <ul class="link-list">
                        <li><a href="#">Total Remote Control</a></li>
                        <li><a href="#">Automate most every aspect of the growing process</a></li>
                      </ul>
                    </div>
                    <div class="back">
                      <ul class="link-list">
                        <li><a href="#">Total Remote Control</a></li>
                        <li><a href="#">Automate most every aspect of the growing process</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
	      </section>

	    </div>
	    <div class="3u">
	      <!-- Right Sidebar -->
	      <section>
		<header>
		  <h2>Online Store</h2>
		</header>
		<ul class="link-list">
		  <li><a href="#">Complete Growing Systems</a></li>
		  <li><a href="#">Nutrients</a></li>
		  <li><a href="#">Plants</a></li>
		  <li><a href="#">Hydroponics</a></li>
		  <li><a href="#">Gardening Tools</a></li>
		  <li><a href="#">Books and Magazines</a></li>
		</ul>
	      </section>
	      <section>
		<header>
		  <h2>Shopping Cart</h2>
		</header>
		<p>
                  Currently:
		</p>
		<ul class="link-list">
		  <li><a href="#">1 Boomer Gardening Complete System</a></li>
		  <li><a href="#">1 Boomer Gardeing online digital garden</a></li>
		  <li><a href="#">1 Boomer Special Strawberry Blend Nutrient</a></li>
		</ul>
	      </section>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper">    <footer></footer></div>
    <!-- Copyright -->
    <div id="copyright"> </div>
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main-debug.js"></script>

  </body>
</html>
