<!DOCTYPE HTML>
<html>
  <head>
    <title>My Garden</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
      <link rel="stylesheet" href="/css/skel-noscript.css" />
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="stylesheet" href="/css/style-desktop.css" />
      <link href="/css/bootstrap.css" rel="stylesheet"/>
      <link href="/css/carousel.css" rel="stylesheet"/>
      <link href="/css/flipper.css" rel="stylesheet"/>
      <link href='http://fonts.googleapis.com/css?family=Nosifer|Syncopate|Combo|Irish+Grover|Simonetta|Monoton|Bowlby+One|Londrina+Shadow|Aclonica|Italiana|Roboto|Hammersmith+One|Faster+One' rel='stylesheet' type='text/css'>
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
  </head>
  <body class="subpage">
    <div id="header-wrapper"></div>
    <div id="content-wrapper">
      <div id="content">
	<div class="container">
	  <div class="row">
	    <div class="3u">
	      <!-- Left Sidebar -->
	      <section>
		<p>
                  Good food brings people together in a healthy way.  Share how you've grown and maintained your
                  garden.
                </p>
                </p>Contribute feeding recipes, environment schedules as well as create a customize website dedicated to your garden.</p>
		<p>
                  <ul>
                    <li>Up/downlad feeding recipe for others</li>
                    <li>Provide a photographic time line of your grow</li>
                    <li>Blog you gardening activity</li>
                  </ul>
		</p>
	      </section>
	      <section>

		<header>
		  <h2>Be An Urban Gardener</h2>
		</header>
		<ul class="link-list">
		  <li><a href="#">Grow Your Own Way</a></li>
		  <li><a href="#">Gardening In Tight Spaces</a></li>
		  <li><a href="#">How To Grow Hydroponically</a></li>
		  <li><a href="#">Think Vertically</a></li>
		  <li><a href="#">Landscaping With a Purpose</a></li>
		</ul>

	      </section>
	    </div>
	    <div class="6u skel-cell-important">

	      <!-- Main Content -->
	      <section>
                <header>
                  <h2>Social Gardening</h2>
                </header>
	        <a href="#" class="bordered-feature-image"><img src="/images/plants-and-hands.png" alt="" /></a>
                <p> MyGarden is a real time, online depiction of the gardener’s physical garden -
                  more than just a mere website but a customized responsive web application dedicated to
                  and powered by MyFarm.</p>
                <ul class="link-list">
                  <li><a href="#">Show off the fruits of your labor</a></li>
                  <li><a href="#">Be connected to others growing similar plants</a></li>
                  <li><a href="#">Journal your activity so you can duplicate it next time</a></li>
                </ul>
	      </section>
	    </div>
	    <div class="3u">
	      <!-- Right Sidebar -->
	      <section>
		<header>
		  <h2>Learn From Others</h2>
		</header>
		<ul class="link-list">
		  <li><a href="#">Grow Histories By Plant</a></li>
		  <li><a href="#">Nutrient Mixer Recipes</a></li>
		  <li><a href="#">Watering Schedules</a></li>
		  <li><a href="#">Gardening Environment Settings</a></li>
		  <li><a href="#">Garden Diagnostics</a></li>
		  <li><a href="#">Tips</a></li>
		</ul>
	      </section>
	      <section>
		<header>
		  <h2>How we protect your privacy</h2>
		</header>
		<p>
                  Be as private or as public as you want to be.  You decide how much or how little of your garden you wish to share and with who your going to share it with.
		</p>
		<p>
                  Your own private garden
		</p>
		<ul class="link-list">
		  <li><a href="#">Secure access to your Garden Controller</a></li>
		  <li><a href="#">Invitation Only Access</a></li>
		  <li><a href="#">Anonymous Sites</a></li>
		</ul>
	      </section>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer-wrapper">    <footer></footer></div>
    <!-- Copyright -->
    <div id="copyright"> </div>
    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-panels.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main-debug.js"></script>

  </body>
</html>
